<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Driver={MySQL ODBC 5.1 Driver};  -->
    <add name="BovetaSQLSwe"
         connectionString="Server=xxx; Database=xxx; User=xxx; Password=xx;" ></add>

    <add name="BovetaSQLNL"
         connectionString="Server=xxx; Database=xxx; User=xxx; Password=xxx;" ></add>
  </connectionStrings>
</configuration>