<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <!-- Driver={MySQL ODBC 5.1 Driver};  -->
    
    <add name="BovetaSQLSwe"
         connectionString="Server=bovetasweden-206430.mysql.binero.se; Database=206430-bovetasweden; User=206430_vo62373; Password=3wM08CnMudlbVucQy8ee;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="BovetaSQLNL"
         connectionString="Server=bovetanetherlands-206430.mysql.binero.se; Database=206430-bovetanetherlands; User=206430_xs74827; Password=alu0XE1S2Ej72YTh1ZHz;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <!--
    <add name="BovetaSQLLocal"
         connectionString="Server=127.0.0.1; Database=206430-bovetasweden; User=206430_vo62373; Password=3wM08CnMudlbVucQy8ee;"/>

    <add name="LocalSQL"
         connectionString="Server=192.168.1.18; Database=BovetaSweden; User=bovetaSwedenWeb; Password=hejhej;" ></add>
     -->
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>